@import './base.css';

main {
    height: calc(100% - 64px);
    /* 100% minus height of app bar */
}

a {
    color: inherit;
    text-decoration: none;
}

.scroll-container {
    max-height: 100%;
    overflow-y: scroll;
}
